/* 1. CONFIGURATION GLOBALE */
html, body {
    margin: 0 !important;
    padding: 0 !important;
    /* Débloque le scroll vertical sur mobile et PC */
    min-height: 100vh !important;
    height: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background-color: #0a0a0a !important;
    color: white;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* 2. CLASSES D'IDENTITÉ (Optionnelles si tu les utilises) */
.rust-text { color: #b45309; }
.rust-border { border-color: #b45309; }

/* 3. EFFET SUR LES IMAGES DE LA GALERIE */
.group img {
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.group:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
}

/* 4. RESET DES SCROLLBARS (Optionnel pour un look épuré) */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
    background: #b45309;
    border-radius: 10px;
}
/* Rendre le scroll du menu invisible mais actif */
#menuOverlay {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Edge */
}

#menuOverlay::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}